<h1>Hyperbolic Motion</h1>
<ul>
  <% if @posts.length > 0 %>
    <% for post in @posts %>
      <li>
        <%= post.published_at %> &raquo; <%= link_to post.title, post_url(post) %>
      </li>
    <% end %>
  <% end %>
</ul>

