input,
textarea{
  width: 100%;
}

select{
  width: 100px;
}

div#admin{
  display: none;
  background: #000;
  color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  a{
    color: #FFF;
    font-family: Arial;
    font-size: 14px;
  }
}

section{
  clear: both;
}